<!DOCKTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GOP Careers</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <style>
            #banner {
                height: 360px;
                width: 100%;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-2 mb-4">GOP Careers</h1>
            <img class="img-fluid mb-4" id="banner" src="static/banner.jpg">
            <h2 class="text-center">About the GOP</h2>
            <p class="lead">Hello, here you will find information about illegal, but lucrative GOP
            job openings!.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor. Odio eu feugiat pretium nibh ipsum consequat. Pharetra convallis posuere morbi leo urna molestie. Felis bibendum ut tristique et egestas quis. Tempus urna et pharetra pharetra massa massa. Sed sed risus pretium quam. Accumsan in nisl nisi scelerisque eu ultrices vitae. Vitae congue mauris rhoncus aenean. Velit egestas dui id ornare arcu odio ut sem nulla.</p>
            <h2 class="text-center mt-2 mb-4">Open Positions</h2>
            <div>
                {% for job in jobs %}
                    {% include 'jobitem.html'%}
                {% endfor %}
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg">Contact Us</button>
                <p class="mt-4">Copyright 2022, GOP</p>
            </div>
        </div>
    </body>
</html>